@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "shared/reset.css";
@import "shared/status-bar.css";
@import "shared/variables.css";
@import "shared/nav-bar.css";
@import "shared/screen-header.css";
@import "login/login.css";
@import "friends/friends.css";
@import "shared/user-component.css";
@import "shared/badge.css";
@import "shared/icon-row.css";
@import "find/find.css";
@import "more/more.css";

body {
  font-family: "Open Sans", serif;
  color: #2e363e;
}

.main-screen {
  padding: 5px var(--horizontal-space);
}
