/* * {
  border: 2px solid black;
}

html {
  background-color: turquoise;
}

h1 {
  text-decoration: underline;
  color: tomato;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

body {
  margin: 0;
  padding: 20px;
  background-color: beige;
}

div {
  padding: 20px;
}

#first {
  background-color: blue;
  width: 150px;
  height: 150px;
}

#second {
  background-color: red;
  width: 100px;
  height: 100px;
}

#third {
  background-color: blueviolet;
  width: 50px;
  height: 50px;
}

#fourth {
  background-color: violet;
  width: 25px;
  height: 25px;
}

span {
  border-style: dotted;
} */

/* body {
  margin: 20px;
}

span {
  background-color: turquoise;
  padding: 20px;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
}

.tomato {
  background-color: tomato;
  color: white;
}

.grey {
  background-color: grey;
} */

/* body {
  height: 1000vh;
}

div {
  font-size: 28px;
  width: 300px;
  height: 300px;
  background-color: azure;
}

div > span {
  background-color: tomato;
  color: white;
  padding: 5px;
  border-radius: 10px;
  text-decoration: underline;
}

p ~ span {
  color: teal;
  text-decoration: none;
} */

/* 
div:nth-child(even) {
  background-color: tomato;
} */

/* #first {
  background-color: aliceblue;
  width: 200px;
  height: 200px;
  position: relative;
}

#second {
  background-color: red;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#third {
  background-color: blueviolet;
} */

/* input:optional {
  border: 1px solid wheat;
}

input:required {
  border: 1px solid tomato;
}

input[type="password"] {
  background: teal;
}

input[placeholder~="name"] {
  background-color: red;
} */

/* button:active {
  background-color: tomato;
  border-radius: 10px;
} */

/* button:focus {
  background-color: tomato;
  border-radius: 10px;
} */

/* button:hover {
  background-color: blue;
} */

/* a:visited {
  color: red;
} */

/* input::placeholder {
  color: blue;
} */

/* :root {
  --main-color: #fccefc;
  --default-border: 1px solid var(--main-color);
}

p {
  color: var(--main-color);
}

p::selection {
  background-color: beige;
}

p::first-letter {
  background-color: red;
} */

/* a {
  color: wheat;
  background-color: tomato;
  text-decoration: none;
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 55px;
  transition: background-color 1s ease-in-out, color 1s ease-in-out;
  transition: all 1s ease-in-out;
}

a:hover {
  color: tomato;
  background-color: wheat;
} */

/* img {
  border: 5px solid tomato;
  transition: transform 1s ease-in-out;
}

img:hover {
  transform: rotateZ(90deg) scale(2);
} */
/* 
@keyframes coinFlip {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg) translateX(100px);
  }
  100% {
    transform: rotateY(0);
  }
}

img {
  border: 5px solid tomato;
  animation: coinFlip 5s ease-in-out infinite;
} */
