/* * {
  border: 2px solid black;
}

html {
  background-color: turquoise;
}

h1 {
  text-decoration: underline;
  color: tomato;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

body {
  margin: 0;
  padding: 20px;
  background-color: beige;
}

div {
  padding: 20px;
}

#first {
  background-color: blue;
  width: 150px;
  height: 150px;
}

#second {
  background-color: red;
  width: 100px;
  height: 100px;
}

#third {
  background-color: blueviolet;
  width: 50px;
  height: 50px;
}

#fourth {
  background-color: violet;
  width: 25px;
  height: 25px;
}

span {
  border-style: dotted;
} */

/* body {
  margin: 20px;
}

span {
  background-color: turquoise;
  padding: 20px;
}

.btn {
  padding: 5px 10px;
  border-radius: 5px;
}

.tomato {
  background-color: tomato;
  color: white;
}

.grey {
  background-color: grey;
} */

body {
  height: 1000vh;
}

div {
  font-size: 28px;
  width: 300px;
  height: 300px;
}

#first {
  background-color: aliceblue;
}

#second {
  background-color: red;
  position: fixed;
  top: 20px;
}

#third {
  background-color: blueviolet;
}
